&
    position absolute
    top 10px
    left 18px
    display block
    width 38px
    height 38px
    padding 0px
    border 2px solid #1d1d1d
    transition left 1s
    border-radius 50%
    background white
    background-image iurl('back.png')
    background-position -3px -4px
    &:hover
        background-color #ddd
        cursor pointer
    &:active
        background-color #aaa
    &.disabled
        left -80px
