#heading
    .r:empty
        display none
        ~.l
            width 970px
            position relative
            .author
                position absolute
                margin-top 0px
                margin-right 0px
                top 52px
                right 3px

div.col3.tabbing // hide right blog-column
img.zoomable
div.zoom
div.picture
.hlavni-obrazek-popis
#comm // tabs
    display none !important

.ig-background
    height:628px
    top 609px
    position absolute
    left 0px
    width 100%
    background white
    opacity 0.4
