@import colors
@import prefixes
@import extraIg

.ig
    @import basics
.ig-background
    @import background
.ig.base
    margin-left -23px
    width 486px
    height auto
    .nation
        float left
        clear left
        width 100%
        height 60px
        position relative
        border-bottom 1px solid #aaa
        margin-top 10px
        .name
            position absolute
            top 0px
            left 0px
            font-size 0.8em
            color #444
        .year
            position absolute
            width 8px
            bottom 0px
            background #bbb
            .medalType
                float left
                width 100%
                &.gold
                    background #D9A441
                &.silver
                    background #CCC2C2
                &.bronze
                    background #965A38

