@import colors
@import prefixes
@import extraIg

.ig
    @import basics
.ig-background
    @import background
.tooltip
    max-width 400px
.ig.base
    leftColumn = 85px
    width 566px
    margin-bottom 25px
    overflow hidden
    position relative
    .nation
        margin-left leftColumn
        width (@width - @margin-left)
        height 89px
        position relative
        border-bottom 1px solid #aaa
        margin-top 7px
        .leftSide
            position absolute
            left (leftColumn * -1)
            top 0px
            height 100%
            text-align center
            width 70px
            color #444
            .abbr
                position absolute
                top 0px
                width 100%
                font-size 0.8em
                font-weight bold
            .count
                width 100%
                position absolute
                bottom 10px
                font-size 2.5em
        .name
            position absolute
            top 0px
            left 0px
            font-size 0.8em
            color #444
            z-index 2
            text-transform uppercase
            span
                text-transform none
        .yearContainer
            z-index 1
            position absolute
            top 0px
            width 22px
            height 100%
            &:hover
                cursor help
                .year
                    outline 5px solid #ddd
            &.y-1988
            &.y-1992
            &.y-1994
                width 18px

            &.y-1992
                margin-left -3px
                .year
                    left 8px

            &.y-1994
                margin-left 4px
                .year
                    left 4px

            .year
                position absolute
                width 8px
                bottom 0px
                left 7px
                .medalType
                    float left
                    width 100%
                    &.gold
                        background #D9A441
                    &.silver
                        background #CCC2C2
                    &.bronze
                        background #965A38

        .detail
            position absolute
            top 0px
            left -140%
            width 566px
            height 100%
            background rgba(255,255,255,0.9)
            transition left 0.8s ease-in
            z-index 3
            padding-top 24px
            &.phase-1
                left (leftColumn * -1)
                transition-timing-function cubic-bezier(0.17,0.67,0.32,1.27)
            .name
                left leftColumn
            .medalType
                float left
                clear left
                margin-left leftColumn
                &.gold .medal
                    background #D9A441
                &.gold .sum
                    color darken(#D9A441, 60%)
                &.silver .medal
                    background #CCC2C2
                &.silver .sum
                    color darken(#CCC2C2, 60%)
                &.bronze .medal
                    background #965A38
                &.bronze .sum
                    color darken(#965A38, 60%)
                .medal
                    width 15px
                    height 15px
                    margin 2px
                    border-radius 50%
                    float left
                    &:hover
                        cursor help
                .sum
                    float left
                    font-size 0.72em
                    font-weight bold
                    padding-left 3px
            .closeContainer
                position absolute
                top 0px
                left 0px
                width 75px
                height 100%
                z-index 4
                .close
                    @import backButton
