@import colors
@import prefixes
@import extraIg

.ig
    @import basics
.ig-background
    @import background
.ig.base
    margin-left -23px
    width 486px
    height auto
    .nation
        float left
        clear left
        width 100%
        height 60px
        position relative
        border-bottom 1px solid #aaa
        margin-top 10px
        .name
            position absolute
            top 0px
            left 0px
            font-size 0.8em
            color #444
            z-index 2
        .yearContainer
            z-index 1
            position absolute
            top 0px
            width 22px
            height 100%
            &:hover
                background #eee
                cursor help
            &.y-1992
                width 11px
                .year
                    left 1px
            .year
                position absolute
                width 8px
                bottom 0px
                left 7px
                .medalType
                    float left
                    width 100%
                    &.gold
                        background #D9A441
                    &.silver
                        background #CCC2C2
                    &.bronze
                        background #965A38

